:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-pading: 60px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Start Components */
/* Start heading*/
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-size:40px ;
    font-weight: normal;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative;
}
.main-heading h2::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 120px;
    background-color:#333;
}
.main-heading h2::after{
content: "";
position: absolute;
bottom: -38px;
left: 50%;
transform: translateX(-50%);
background-color: white;
width: 14px;
height: 14px;
border: 2px solid #333;
border-radius: 50%;
}
.main-heading p {
    width: 550px;
    margin: 0 auto 60px;
    color: #777;
    max-width: 100%;
    line-height: 1.5;
}
/* End Components */
.section .intro h2 {
    text-align: center;
    font-size: 50px;
} 
/* end heading*/
/* End Components */
/* Start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 88px;
}
header .container::after {
    content: "";
    height: 2px;
    width: calc( 100% - 30px);
    position: absolute;
    background-color: #a2a2a2a2;
    bottom: 0px;
    left: 15px;
}
header .container .logo img {
    height: 40px;
}
header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .toggle-menu {
    color: white;
    font-size: 22px;
}
@media (min-width:767px) {
    header nav .toggle-menu {
        display: none;
    }
}
header .container ul {
    display: flex;
}
@media (max-width :767px) {
    header .container ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.500)
    }
    header nav ul li a {
        padding: 15px !important;
    }
}
header .container ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 35px 10px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
header .container ul li a.active,
header .container ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
header .form {
    width: 40px;
    height: 30px;
    color: white;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header .form i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    font-size: 20px;
}
/* end header */
/* Start landing */
.landing {
    min-height: 100vh;
    background-image: url("../image/landing.jpg");
    background-size: cover;
    background-color: black;
    position: relative;
}
.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    padding: 60px;
    width: 50%;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content {
    max-width: 500px;
}
.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text .content p {
    line-height: 1.9;
    font-size: 14px;
}
.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
.landing .fa-angle-right {
    right: 30px;
    font-size: 30px;
}
.landing .fa-angle-left {
    left: 30px;
    font-size: 30px;
}
.landing .bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.landing .bullets li{
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 5px;
}
.landing .bullets li.active {
    border-color: var(--main-color);
    background-color: var(--transparent-color);
}
@media (max-width: 767px) {
    .landing .text {
        width: 100%;
        padding: 30px 60px;
    }
    .landing .text .content {
        max-width: 100%;
    }
    .landing .change-background {
        display: none;
    }
}
/* End landing */
/* Start services */
.services .container {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
}
@media (min-width: 767px) {
    .services .container .contact-services {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 30px;
    }
}
.services .container .contact-services .srv {
    display: flex;
}
.services .container .contact-services .srv i {
    color: #333;
    margin-right: 40px;
    font-size: 30px;
}

.services .container .contact-services .srv h3 {
    margin-bottom: 15px;
    color: var(--main-color);
}

.services .container .contact-services .srv p {
    color: rgba(119, 119, 119, 0.707);
    line-height: 2;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .container .contact-services .srv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .services .container .contact-services .srv i {
        color: #333;
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 30px;
    }
}
/* End services */
/* Start mobile */
.mobile {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    background-color: black;
    align-items: center;
    position: relative;
    display: flex;
    overflow: hidden;
}
.mobile .mobile-intro,
.mobile .mobile-img {
    position: relative;
    z-index: 2;
    flex: 1;
}
.mobile .mobile-img {
    text-align: center;
}
.mobile .mobile-img img {
    position:relative ;
    bottom: -150px;
}
.mobile .mobile-intro {
    color: white;
    align-items: center;
    padding: 30px;
    background-color: var(--transparent-color);

}
.mobile .mobile-intro h2 {
    margin-bottom: 30px;
}
.mobile .mobile-intro ul li {
    margin-bottom: 20px;
    margin-left: 15px;
    position: relative;
}
.mobile .mobile-intro ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f390';
    color: white;
    font-weight: 900;
    margin-right: 10px;
}
@media (max-width:767px) {
    .mobile .mobile-img {
        display: none;
    }
    .mobile .mobile-intro h2 {
        margin-bottom: 20px;
        font-size: 22px;
    }
}
/* End mobile */
/* Strat portfolio */
.portfolio {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
}
.portfolio .container .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .container .shuffle li {
    padding: 10px;
}
.portfolio .container .shuffle .active {
    background-color: var(--main-color);
    color: white;
}
.portfolio .contact-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(300px, 1fr));
    gap: 20px;
    margin-top: 60px;
    padding: 0 20px;
} 
.contact-portfolio .box {
    position: relative;
    overflow: hidden;
}
.contact-portfolio .box img{
    width: 100%;
    height: 200px;
    transition: 0.3s;
}
.contact-portfolio .box .caption {
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 0;
    bottom:-100px;
    background-color: #19c8fa;
    color: white;
    text-align: center;
    transition: 0.3s;
}
.contact-portfolio .box:hover .caption {
    bottom:0;
}
.contact-portfolio .box:hover img {
    transform:scale(1.2);
}
.portfolio a {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 50px auto 0 auto;
}
/* end portfolio */ 
/* Start video */
.video {
    padding-bottom: var(--section-pading);    
}
.video .contact-video video{
    width: 100%;
}
.video .contact-video {
    position: relative;
}
.video .contact-video .intro-video {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    background-color: var(--transparent-color);
}
.video .contact-video .intro-video h2 {
    color: white;
    font-weight: normal;
    padding: 30px 0;
}
.video .contact-video .intro-video a {
    color: white;
    padding: 15px 20px;
    background-color: black;
    text-decoration: none;
    margin-bottom: 30px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
/* End video */
/* Start About */
.about {
    overflow: hidden;
}
.about .container img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 120px;
}
@media (max-width: 767px) {
    .about .container img {
        width: 300px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 50px;
    }
}
/* End About */
/* start number */
.number {
    background-color: black;
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    padding-right: 30px;
    padding-left: 30px;
}
.number .container {
    display: flex;
    justify-content: space-between;
    background-color: var(--transparent-color);
}

@media (max-width: 767px) {
    .number .container {
    display: flex;
    flex-direction: column;
    background-color: var(--transparent-color);
    }
    .number .container .svr {
        color: white;
        text-align: center;
        /* margin: 50px 0; */
    }
}
.number .container .svr {
    color: white;
    text-align: center;
    margin: 50px 0;
    padding: 00 40px;
}

.number .container .svr i, .number .container .svr h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
/* end number */
/* start skills */
.skills {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
}
.skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills .container img {
    width: 350px;
}
@media (min-width: 992px) {
    .skills .container > section { 
        flex-basis: 45%;
    }
}
.skills .container > section > h3 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
}
.skills .container > section > p {
    color: #777;
    text-align: center;
    line-height: 2;
    margin-bottom: 60px;
}
.skills .testimonials .box {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.skills .testimonials .box img {
    width: 100px;
    border-radius: 50%;
    margin-right: 60px;
}
.skills .testimonials .box .intro-box-skills p {
    line-height: 1.8;
}
.skills .testimonials .box .intro-box-skills p:nth-child(2) {
    color: var(--main-color);
    text-align: end;
    font-size: 14px;
}
.skills .testimonials .box .intro-box-skills {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
@media (max-width: 767px) {
    .skills .testimonials .box {
        flex-direction: column;
        text-align: center;
    }
    .skills .testimonials .box img {
        margin-right: 0;
        margin-bottom: 20px;
    } 
    .skills .testimonials .box p:nth-child(2) {
        color: var(--main-color);
        text-align: center;
    }
}
.skills .testimonials ul {
    display: flex;
    justify-content: center;
}
.skills .testimonials ul li {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 3px;
}
.skills .testimonials ul .active {
    background-color: var(--main-color);
}
.skills .our-skills .box {
    margin-bottom: 40px
}
.skills .our-skills .box h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.skills .our-skills .box .prog {
    height: 30px;
    background-color: #dedadc ;
}
.skills .our-skills .box .prog span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}
.skills .our-skills .box .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 5px;

}
.skills .our-skills .box .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-width: 8px;
    top: -15px;
    right: -8px;
}
@media (max-width: 767px) {
    .skills .testimonials {
        margin-bottom: 60px;
    }
}
/* End skills */ 
/* Start text */
.text {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    background-color: var(--transparent-color);
}
.text .container {
    padding: 30px 0;
    text-align: center;
    color: white;
}
.text .container h3 {
    margin-bottom: 20px;
    line-height: 2;
    font-weight: normal;
}
/* End text */
/* Start pricing */
.pricing{
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
}
.pricing .container .contact-pricing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.pricing .container .contact-pricing .box {
    text-align: center;
    background-color: #f8f8f8;
}
.pricing .container .contact-pricing .box .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .container .contact-pricing .box .head h3 {
    font-weight: bold;
    margin-bottom: 20px;
}
.pricing .container .contact-pricing .box .head span {
    position: relative;
    font-size: 50px;
    font-weight: 600;
}
.pricing .container .contact-pricing .box .head span::before {
    content: "$";
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: -15px;
}
.pricing .container .contact-pricing .box .head span::after {
    content: "/mon";
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    right: -40px;
}
.pricing .container .contact-pricing .box ul li  {
    padding: 20px 0;
    border-bottom: 1px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.pricing .container .contact-pricing .box ul li:last-child  {
    border-bottom: 1px solid var(--main-color);
    width: 100%;
}
.pricing .container .contact-pricing .box .footer {
    padding: 30px 0;
    
}
.pricing .container .contact-pricing .box .footer a {
    text-decoration: none;
    color: black;
    border: 1px solid var(--main-color);
    padding: 7px 15px;
    transition: 0.3s;
}
.pricing .container .contact-pricing .box .footer a:hover,
.contact-link:hover {
    background-color: var(--main-color);
    color: white;
}
.contact-text-pricing {
    text-align: center;
    margin: 20px 0;
}
.contact-link {
    display: block;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    color: black;
    padding: 7px 15px;
    border: 1px solid var(--main-color);
    transition: 0.3s;
}
/* End pricing */
/* Start subscribe */
.subscribe {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    background-color: black;
}
.subscribe .container {
    display: flex;
    position: relative;
    align-items: center;
}
@media (max-width: 992px) {
    .subscribe .container {
        flex-direction:column ;
    }
    .subscribe .container form {
        margin-bottom: 30px;
    } 
    .subscribe .container p {
        text-align: center;
        margin-left: 0;
    }
}
.subscribe .container form {
    width: 500px;
    position: relative;
    display: flex;
    max-width: 100%;
} 
.subscribe .container form input[type="email"] {
    outline: none;
    border: 1px solid var(--main-color);
    padding: 10px 50px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}
.subscribe .container form input[type="submit"] {
    color: white;
    background-color: var(--main-color);
    outline: none;
    border: none;
    cursor: pointer;
    width: 130px;
}
.subscribe .container form i {
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 18px;
font-size: 17px;
color: var(--main-color);
}
.subscribe .container p {
    text-align: start;
    color: white;
    line-height: 2;
    margin-left: 15px;
}
/* End subscribe */
/* STart contact */
.contactus {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
}

.contactus .container .contact-contact{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contactus .container .contact-contact {
        flex-direction: column;
    }
}
.contactus .container .contact-contact form{
    flex-basis: 70%;
}
.contactus .container .contact-contact form .main-input{
    padding: 20px;
    display: block;
    border: 1px solid var(--main-color);
    margin-bottom: 30px;
    width: 100%;
    outline: none;
    caret-color: var(--main-color);
}
.contactus .container .contact-contact form textarea.main-input {
    height: 200px;
}
.contactus .container .contact-contact form input[type=submit] {
    color: white;
    background-color: var(--main-color);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 20px;
    display: flex;
    margin-left: auto;
}
.contactus .container .contact-contact .intro{
    flex-basis: 25%;
}
.contactus .container .contact-contact .intro h4{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}
.contactus .container .contact-contact .intro span{
    display: block;
    color: var(--main-color);
    margin-bottom: 10px;
}
.contactus .container .contact-contact .intro h4:last-of-type{
    margin-top: 90px;
}
.contactus .container .contact-contact .intro address {
    color: var(--main-color);
    line-height: 2;
    text-decoration: none;
}
@media (max-width: 767px) {
    .contactus .container .contact-contact .intro {
        order: -1;
        text-align: center;
        margin-bottom: 50px;
    }
    .contactus .container .contact-contact .intro h4:last-of-type{
        margin-top: 40px;
    }
} 
/* End contact */
/* Strat footer */
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: black;
}
footer img {
    margin-bottom: 20px;
}
footer p:not(.copyright){
    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--main-color);
    font-size: 30px;
    font-weight: normal;
}
footer .social-icons i {
    color: white;
    margin: 0 10px;
    font-size: 25px;
}
footer .copyright {
    margin-top: 30px;
    color: white;
}
footer span {
    color: var(--main-color);
}
/* End footer */
